.b-video
  width: 100%
  height: 100%
  &__inner
    height: 100%
    position: relative
    img
      position: absolute
      left: 0
      top: 0
  .btn-play
    display: flex
    align-items: center
    justify-content: center
    position: absolute
    left: 50%
    top 50%
    transform translate(-50%, -50%)
    width: 4rem
    height: 4rem
    background $white
    border-radius 50%
    svg
      width: 1.4rem
      height 1.7rem
      fill $dark-blue
    .desktop &
      tro()
      &:hover
        opacity .7


