.b-tabsInfo
  display: flex
  flex-direction: column
  &__tabs
    background: rgba(41, 22, 138, 0.04)
  &__nav
    display: flex
    height: 4rem
    align-items: center
    padding: 0 1rem
  &__btn
    color $blue
    font-size: 1.2rem
    line-height: 1.2
    padding: .5rem 1.2rem
    .desktop &
      tro()
      &:hover
        opacity .7
  &__item
    height 25.8rem
    overflow-y auto
    customScroll()
    padding-right: 1rem
    h3
      margin-top: 2rem
    p
      margin-top 2.1rem
    a
      color $blue
      .desktop &
        tro()
        &:hover
          opacity .7
