.b-tabsShow
  display: flex
  flex-direction: column
  &__nav
    display: flex
    justify-content: space-between
    align-items: center
  &__btn
    max-width: 18%
    flex-basis: 18%
    height: 6rem
    border 1px solid $light-blue
    border-radius $radius-sm
    overflow: hidden
  &__content
    flex-grow 1
    flex-basis 35.4rem
    margin-bottom: 1.5rem
    border-radius $radius
    overflow hidden
    display: flex
  &__item
    width: 100%
    display: flex