.h
  background $dark-blue
  &__inner
    width 100%
    height 8.6rem
    display flex
    justify-content: space-between;
    align-items center
  &__item
    &._center
      margin: 0 auto
      padding 0 1.5rem
