.wrapper
  min-height: 100%
  min-width: $wrapperMinWidth
  display: flex
  flex-direction: column
  align-items: stretch
  overflow: hidden
  position: relative
  &__content
    flex-grow: 1
    padding-bottom: 30px

.container
  max-width: $wrapperMaxWidth
  min-width: $wrapperMinWidth
  margin: 0 auto
  padding: 0 20px
